body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game-field {
    width: 400px;
    height: 400px;
    background-color: darkgrey;
    border: 2px solid black;
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.score {
    padding-left: 5px;
}
.misses {
    padding-left: 5px;   
}